.plan{
    display: flex;
    align-items: center;
}
.plan1{
text-align: center;
margin-top: 207px;

}
.plan1 h1{
margin: 0 auto;

text-align: center;
    width: 383px;
    color: #0B132A;
text-align: center;
font-family: Rubik;
font-size: 35px;
font-style: normal;
font-weight: 500;
line-height: 50px; /* 142.857% */
}
.plan1 p{
margin: 0 auto;

    margin-top: 20px;
    width: 555px;
    color: #4F5665;
text-align: center;
font-family: Rubik;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 187.5% */
}
.plan-content{
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 60px 0px;
gap: 50px;

}
.plan2{
    width: 330px;
    height: 760px;
    border-radius: 10px;
border: 2px solid #DDD;
background: #FFF;
}
.plan02{
    margin: 79px 92.5px 0 92.5px;
}
.plan2 h2{
    margin-top: 20px;
    color: #0B132A;
text-align: center;
font-family: Rubik;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 30px; /* 166.667% */
margin-bottom: 20px;
}
.plan2 li{
    margin-top: 10px;
    margin-left: 70px;
    // width: 136px;
    color: #4F5665;
font-family: Rubik;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 214.286% */
}
.plan2 li img{
    width: 24px;
    height: 24px;
    margin-right: 20px;
}
.plan2 h3{
    margin-top: 130px;
    color: #0B132A;
text-align: center;
font-family: Rubik;
font-size: 25px;
font-style: normal;
font-weight: 500;
line-height: 30px; /* 120% */
}
.plan2 h3 span{
    color: #4F5665;
font-family: Rubik;
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}
.plan2 button{
    margin-left: 76.6px;
    width: 178px;
    height: 45px;
    border-radius: 50px;
border: 2px solid #F53838;
}
.plan2:nth-child(3) button{
    background: #F53838;
}