.vpn{
    margin-top: 150px;
    // margin: 0 auto;
}
.vpn h1{
    margin: 0 auto;
    width: 383px;
    color: #0B132A;
text-align: center;
font-family: Rubik;
font-size: 35px;
font-style: normal;
font-weight: 500;
line-height: 50px; /* 142.857% */
}
.vpn p{
    margin-top: 20px;
    margin: 0 auto;
width: 555px;
color: #4F5665;
text-align: center;
font-family: Rubik;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 187.5% */
}
.vpn1{
    margin-top: 156px; 
    // margin-left: 190px;
    width: 1060px;
height: 537.771px;
flex-shrink: 0;
display: flex;
align-items: center;
justify-content: center;
}
.vpn2{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    // margin-left: 150px;
}